<div class="login-bg">
	<div class="login-container">
		<div class="login-left">
			<div class="login-logo">
				<div class="logo-circle">SDA</div>
			</div>
			<h2>Soluciones Digitales<br>Andinas S.A.S</h2>
			<p class="login-desc">Control total de servicios y clientes en un solo lugar.</p>
		</div>
		<div class="login-right">
			<h1>Iniciar Sesión</h1>
			<p class="login-sub">Tu oficina digital, siempre a un clic</p>
			<form #loginForm="ngForm" (ngSubmit)="onLogin()" autocomplete="off">
				<label for="email"><b>Correo electrónico</b></label>
				<input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="usuario@empresa.com" />
				<label for="password"><b>Contraseña</b></label>
				<input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="********" />
				<button type="submit" [disabled]="!loginForm.form.valid">Entrar</button>
			</form>
			<div class="login-register">
				¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a>
			</div>
		</div>
	</div>
</div>
