<nav class="navbar">
  <div class="logo-contenedor">
    <img src="assets/icono/logo_empresa.svg" alt="Logo empresa" class="logo-icono" />
    <span class="logo-texto">Soluciones Digitales Andinas S.A.S</span>
  </div>
  <ul class="menu">
    <li><a routerLink="/home">inicio</a></li>
    <li><a routerLink="/servicios">Servicios</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
    <li><a routerLink="/nosotros">Nosotros</a></li>
    <li *ngIf="auth.isAuthenticated()">
      <button (click)="logout()" class="logout-btn">Cerrar sesión</button>
    </li>
  </ul>
</nav>
