<div class="main-container">
  
  <section class="hero-section">
    <div class="left-content">
      <div class="background-shape large-circle-left"></div>
      <div class="background-shape small-circle-left"></div>
      
      <div class="image-wrapper top-center">
        <img src="assets/img/home_cel.jpg" alt="Soporte móvil y portátil" class="content-image circular">
      </div>
      
      <div class="company-info">
        <div class="lock-icon-wrapper triangular-mask">
          <img src="assets/img/home_seg.jpg" alt="Seguridad Digital" class="lock-icon">
        </div>
          <div class="title-container"> 
          <h1 class="title_ppal">Soluciones Digitales Andinas S.A.S.</h1>
        </div>
      </div>
      
      <div class="image-wrapper bottom-center">
        <img src="assets/img/home_rv.jpg" alt="Realidad Virtual y Datos" class="content-image rectangular">
      </div>
    </div>

    <div class="right-content">
        <div class="content-area">
            <p class="greeting">Bienvenido</p>
            <h2 class="title">Soporte TI en línea</h2>

            <p class="description">
              En <span class="resaltado-empresa">Soluciones Digitales Andinas S.A.S</span>, brindamos una amplia gama de
              servicios tecnológicos diseñados para responder a las necesidades actuales
              del mercado digital. Nuestra oferta incluye:
            </p>

            <ul class="service-list">
              <li>Desarrollo de páginas web empresariales</li>
              <li>Aplicaciones móviles (Android y iOS)</li>
              <li>Migración de servidores a la nube</li>
              <li>Consultoría en seguridad informática</li>
              <li>Soporte y mantenimiento mensual</li>
              <li>Posicionamiento web (SEO) y marketing digital</li>
              <li>Integración de pasarelas de pago y APIs</li>
              <li>Diseño de interfaces y experiencia de usuario (UX/UI)</li>
              <li>Automatización de procesos empresariales (RPA)</li>
              <li>Análisis de datos y business intelligence</li>
            </ul>
            
            <div class="button-group">
              <a routerLink="/servicios" class="btn primary">Empezar ahora</a>
              <a routerLink="/nosotros" class="btn secondary">Ver más</a>
            </div>
        </div>
        
        <div class="image-overlay-wrapper">
            <img src="assets/img/home_robot.jpg" alt="Tecnología e Innovación" class="robot-arm-image circular">
        </div>
    </div>
  </section>
</div>